@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
  --accent-color: #feca1b;
  --red-color: #ef5350;
  --bg-dark: #121620;
  --bg-light: #1c212e;
  --text-color: #fff;
  --normal-font: 'Roboto Condensed', sans-serif;
  --header-font: 'Poppins', sans-serif;
  --chip-normal: #a8a878;
  --chip-fighting: #c03028;
  --chip-flying: #a890f0;
  --chip-poison: #a040a0;
  --chip-ground: #dfbf68;
  --chip-rock: #b8a038;
  --chip-bug: #a8b820;
  --chip-ghost: #715995;
  --chip-steel: #b8b8d0;
  --chip-fire: #e17e38;
  --chip-water: #6890f0;
  --chip-grass: #78c850;
  --chip-electric: #eec835;
  --chip-psychic: #f85888;
  --chip-ice: #98d8d8;
  --chip-dragon: #7038f8;
  --chip-dark: #705848;
  --chip-fairy: #f0b6bc;
  --chip-shadow: #0c0e0f;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}
svg {
  width: 1.5rem;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }

  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }

  30% {
    transform: translate(10px, 0) rotate(20deg);
  }

  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }

  60% {
    transform: translate(10px, 0) rotate(10deg);
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}

body {
  background-color: var(--bg-dark);
  font-family: var(--normal-font);
  color: var(--text-color);
  padding: 0 2rem;
}

.flex {
  display: flex;
}

.flex-jcb {
  justify-content: space-between;
}

.flex-aic {
  align-items: center;
}

.flex-jcc {
  justify-content: center;
}

header {
  padding: 1rem 2rem;
}

.logo img {
  width: 50px;
  width: 3.1rem;
}

.logo p {
  font-family: var(--header-font);
  color: var(--accent-color);
  font-size: 1.25rem;
}

.logo span {
  color: var(--text-color);
}

.nav-links {
  gap: 1rem;
}

.nav-links select {
  padding: 0.5rem;
  background-color: var(--bg-light);
  border: none;
  border-radius: 0.7rem;
}

main {
  padding: 1rem 2rem;
}

.intro {
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 2rem 0;
}

.loading {
  height: calc(100vh - 16.45rem);
}

.loading-ball {
  width: 7rem;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

.card {
  flex-direction: column;
  padding: 1rem;
  background-color: var(--bg-light);
  border-radius: 0.7rem;
}

.info {
  gap: 1rem;
  width: 100%;
}

.title {
  gap: 0.5rem;
  flex-direction: column;
}

.avatar {
  width: 130px;
  transition: all 0.3s ease-in-out;
}

.card:hover img {
  transform: scale(1.1);
}

footer {
  background-color: var(--bg-light);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 2rem;
}

.profiles {
  color: var(--accent-color);
}